.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
   
    padding:6px;
    gap: 6px;
    background-color: blue;
}
.items{
    background-color: skyblue;
    border: 2px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
}
.item8{
    background-color:skyblue;
    padding: 15px;
    font-size: 40px;
    text-align: center;
    grid-area: 1/2/5/6;
    
}
.item2{
    background-color: skyblue;
    border: 2px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 6/7;

}