.box1{
    width: 100px;
    height: 100px;
    background-color: red;
 
    position: relative;
}
.box2{
    width:100px;
    height: 100px;
    background-color: blue;
    position: relative;
    left: 100px;
   
    
}
.box3{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    position: relative;
    left: 200px;
}
.container{
   align-items: center;
    justify-content:space-between;
    display: flex;
    flex-direction: column-reverse;
    width: 250px;
    height: 250px;
    background-color: aqua;
    border:2px solid pink;
}
.item{
    width: 50px;
    height: 20px;
    background-color: yellow;
    border: 2px solid blueviolet;
   margin: 6px;
}
.container1{
    display: grid;
    grid-template-columns: 20% 80%;
    row-gap: 35px;
    column-gap:40px;
    width: 250px;
    height: 250px;
    background-color: brown;
    border: 2px solid yellow;
}
.grid{
    height: 15px;
    width: 15px;
    background-color: aqua;
    border: 1px solid pink;
}
.grid1{
    background-color: black;
    grid-row-start: 1;
    grid-row-end:3;
}
table.gridtable{
    display: grid;
    border: 2px solid black;
    border-collapse: collapse;
    height: 300px;
    width: 300px;
    padding: 30px;
    text-align: center;
    
}
.item1{
    grid-column-start:1;
    grid-column-end: 3;
}