table{
    border-collapse: collapse;
}
table,td,th{
    width:50%;
    border:2px solid black;
}

td{
    
    text-align: center;
    padding:10px;
}
caption{
    caption-side:bottom;
    text-align: center;
}
h1{
    margin-left: 390px;
}
table{
    margin-left: 200px;
    
}